<section id="form" class="container-fluid ocultar caractFixed text-white">
    <div class="row bgRgba p-2 rounded text-center relative" style="width: 35%;">
       <div class="col-12 p-5">
            <form action="/add" method="POST">
                <h2 class="text-center mb-5">Formulario</h2>
                <div class="form-group">
                    <label>Id : </label>
                    <input type="text" class="form-control text-center" name="id" placeholder="Ingrese Codigo">
                </div>
                <div class="form-group">
                    <label>Nombre-Apellido : </label>
                    <input type="text" class="form-control text-center" name="nombre" placeholder="Ingrese Nombre-Apellido Completo">
                </div>
                <div class="form-group">
                    <label>Posicion : </label>
                    <input type="text" class="form-control text-center" name="puesto" placeholder="Ingrese Puesto">
                </div>
                <div class="form-group">
                    <label>Sueldo : </label>
                    <input type="text" class="form-control text-center" name="sueldo" placeholder="Ingrese Sueldo">
                </div>

                <button type="submit" class="btn btn-success btn-block p-3">Enviar</button>
        </form>
       </div>

       <div id="close" class="far fa-times-circle absolute fontEstandar"></div>
    </div>
   
   
</section>