<!DOCTYPE html>
<html>
<head>
    <%- include('head.html')%>
</head>
<body>
    <%- include('header.html')%>

    <section id="grilla" class="container">
        <div class="row p-5">
            <div class="col-12">
                    <table class="bg-light text-center">
                        <tr class="bgOrange text-black sizeEstandar">
                          <th class="px-5 py-3">Id</th>
                          <th class="px-5 py-3">Nombre y Apellido</th>
                          <th class="px-5 py-3">Posicion</th>
                          <th class="px-5 py-3">Sueldo</th>
                          <th class="px-5 py-3"></th>
                          <th class="px-5 py-3"></th>
                          <th class="px-5 py-3"></th>
                          <th class="px-5 py-3 bg-success"><button id="add" class="btn text-white btn-block">ADD</button></th>
                        </tr>
    
                        <% for(var i = 0; i < empleados.length; i++){ %>
                        <tr>
                          <td><%= empleados[i].id %></td>
                          <td><%= empleados[i].nombre %></td>
                          <td><%= empleados[i].puesto %></td>
                          <td><%= empleados[i].sueldo %></td>
                          <td>
                            <a href="/done/<%= empleados[i]._id %>" class="btn btn-block <%= empleados[i].status ? 'btn-success' : 'btn-dark' %>">active</a>
                          </td>
                          <td>
                              <a id="delete" href="/renderDelete/<%= empleados[i]._id%>" class="btn btn-danger btn-block">Delete</a>   
                          </td>
                          <td>
                              <a href="/renderUpdate/<%= empleados[i]._id%>" id="update" class="btn btn-info btn-block">Update</a>
                          </td>
                          
                        </tr>
                        <% } %>
                    </table>
               </div>
            </div>
    </section>

    <%- include('formulario.html') %>

    <%- include('footer.html')%>
 
    
</body>
</html>