.bgBlack{
    background: black;
}

.bgRgba{
    background: rgba(0,0,0,0.7);
}

.bgOrange{
    background: orange;
}

.ocultar{
    display: none;
}

.sizeEstandar{
    font-size: 18px;
}

.bloque{
    display: flex;
}

.bgRed{
    background: red;
}

.disPlay{
    display: flex;
}

.fontEstandar{
    font-size: 20px;
}

.sinStyle{
    text-decoration: none;
    color: white;
}

.sinHover:hover{
    text-decoration: none;
    background: none;
    color: white;
}

.absolute{
    position: absolute;
    top: 10px;
    right: 10px;
}

.relative{
    position: relative;
}

.ocultar{
    display: none;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.caractFixed{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    justify-content: center;
    align-items:center;
    background: rgba(0,0,0,0.6);
    margin: auto;
}

.bgGris{
    background: #ededed;
}

.relative{
    position: relative;
        
}